@import url('https://fonts.googleapis.com/css?family=Heebo|Oswald');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Heebo', sans-serif;
    background: #eee;
    margin: 0;
}

header {
    display: block;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    font-weight: bold;
}

nav {
    margin-top: 16px;
    text-align: right;
    height: 47px;     
}

#splash-img {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 650px;
    margin-top: 25px;
}

/* https://css-tricks.com/css-basics-styling-links-like-boss/ */
a {
    background-color: #002d8f;
    box-shadow: 0 5px 0 darkred;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    background-color: darkred;
    cursor: pointer;
}

a:active {
    box-shadow: none;
    top: 5px;
}

/* https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy */
table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #002d8fb3;
    color: white;
}

button {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
}

button:after {
    content: " 🛒";
}

button:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}

button:active {
	position:relative;
	top:1px;
}