#table-div {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 500px;
}

td tr {
    text-align: center;
    border: 1px black solid;
}

button:after {
    content: "";
}

#button-table {
    text-align: right;
}